.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 300px;
  margin: 16px auto;
  font-family: Arial, sans-serif;
}

.card .card-image{
  width: 60%;
  border-radius: 8px;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}