body{
  font-family: Arial, Helvetica, sans-serif;

}
.color-picker-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height:300px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(22, 22, 22);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease-in-out;
}

.color-display p{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

label{
  font-size: 1.2rem;
  margin-right: 10px;
  font-weight: bold;
}

input[type="color"]{
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}